#order-section {
  margin-top: 2.5rem;
  .page-title {
    font-weight: lighter;
  }

  .order-section-item {
    position: relative;
    margin-top: 2rem;
    .order-section-extra {
      display: inline-block !important;
      @media screen and (max-width: 880px) {
        position: absolute;
        top: -4.5rem;
        left: -10px;

        > button {
          float: none !important;
        }
      }
    }
  }
}
