#footer-section {
  .footer-line {
    color: rgba(33, 33, 33, 0.9);
  }

  .footer-title {
    text-align: center;
  }

  .footer-content {
    margin: 2rem;
    display: flex;
    justify-content: center;
  }
}
