#footer-section {
  .footer-title {
    padding-top: 0.5rem;
    text-align: center;
  }

  .footer-content {
    margin: 2rem;
    display: flex;
    justify-content: center;
  }

  .footer-after-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }
}
