#footer {
  margin: 2rem 0 0rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media only screen and (max-width: 880px) {
    display: block;
    text-align: center;
  }
}
.footer-line {
  margin: 1rem -500px 1rem -500px;
  opacity: 0.4;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 880px) {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 2;
    li {
      a {
        color: #333;
        cursor: pointer;

        &:hover {
          color: #0682dc;
        }
      }
    }
  }

  :last-child {
    padding-right: 1rem;

    @media only screen and (max-width: 880px) {
      padding: 0;
    }
  }
}
