#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    margin: 10px 10px 10px 0;
  }

  .header-second-item {
    .phone-number {
      color: #2873bd;
      font-size: 22px;
      font-weight: 200;
    }
  }
}
