.showcase {
  display: flex;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 2rem;

  .showcase-item-one {
    max-width: 60%;
    img {
      max-width: 100%;
      border-radius: 10px;
    }
    flex-grow: 3;
    margin-right: 10px;
  }

  .showcase-item-two {
    flex-grow: 1;
    max-width: 40%;

    img {
      max-width: 100%;
      border-radius: 10px;
    }

    .sub-items {
      display: flex;
      flex-direction: row;

      > img {
        max-width: 49%;
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
